/Baby.mp4
/HBchoubay.mp4
/MediaData
/ai.mp3
/test.png
/image.jpg
/.amazonq
/narayan.py
/Services/InferenceService/ViT-B-32_laion2b_s34b_b79k.pt
/Users/vyoam/Desktop/Personal/GoServers/Services/InferenceService/inv
/Users/vyoam/Desktop/Personal/GoServers/Services/InferenceService/__pycache__
/Services/InferenceService/inv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib
**/tools/ffmpeg
**/tools/ffplay
**/tools/ffprobe
**/tools/ffserver
